 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #213448;
    /* background-color: #2B2A2A;
    background-color: #465C88; */
    min-height: 100vh;
    background-image: url("ChatGPT\ Image\ Jan\ 16\,\ 2026\,\ 12_35_04\ AM.png");
    background-size: cover;       /* scale image to cover entire screen */
    /* background-position: center;  /* center the image */
    background-repeat: no-repeat;  
}

.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 400px;           /* final width = min( width, max-width ) */
    background-color: #94B4C1;
    /* background-color: #FEB05D; */
    padding: 1.5rem;
    border-radius: 1.5rem;
    min-height: 300px;
}

.inputText {
    margin-top: 1rem;
}

input{
    width: 100%;
    height: 40px;
    border-radius: 0.5rem;
    border: 1px solid #94B4C1;
    outline: none;
    padding: 1rem;
    background-color: #EAE0CF;
}

input:hover {
    border: 1px solid black;
}

.flags {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flags i {
    margin-top: 1rem;
    font-size: 24px;
}
.from {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.igg1 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(129, 148, 255);
    border-radius: 0.5rem;
    height: 34px;
}

.igg1:hover {
    border: 1px solid black;
}

.igg1 img {
    width: 40px;     /* adjust size here */
    height: auto;
}

select {
    border: #213448;
    background-color: transparent;
}

.price {
    margin-top: 1rem;
    font-weight: bold;
    font-size: 1.2rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.exchButt {
    height: 38px;
    width: 90%;
    border: none;
    border-radius: 0.75rem;
    /* background-color: #213448; */
    background-color: #2B2A2A;
    color: #EAE0CF;
    font-size: 1.2rem;
    margin: 2rem 0 2rem 1rem;
    transition: all 0.7s ease-out;
}

.exchButt:hover {
    width: 91%;
    background-color: rgb(37, 37, 41);
}
